/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;


    color: #09552a;
    /* Green-sky */
}

/* Header */
.tr {
    background-size: cover;
    background-position: center;

    animation: changeBg 60s infinite;
}

@keyframes changeBg {
    0% {

        background-image: url('src/image2jk.webp');

    }

    25% {

        background-image: url('src/image2jk.webp');

    }

    40% {

        background-image: url('src/image2jk.webp');

    }

    50% {

        background-image: url('src/image.png');
    }



    70% {

        background-image: url('src/anacard.jpg');
    }

    100% {

        background-image: url('src/image2jk.webp');

    }
}


.header {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #108643;
    ;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
}

.header .nav a {
    color: #108643;
    text-decoration: none;
    margin: 0 10px;
}

.header .nav .cart {
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 100px 20px;

}

.hero h1 {
    font-size: 36px;
    color: #ffffff;
}

.hero p {
    font-size: 18px;
    color: #ffffff;
}

.hero .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2e8b57;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    color: white;
    background-color: #297d4f;
}


/* Featured Products */
.featured-products {
    padding: 50px 20px;

    text-align: center;
}

.featured-products h2 {
    font-size: 28px;
    color: #ffffff;
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product-card {

    border: 1px solid #ffffff;
    background-color: #ffffffb7;
    border-radius: 5px;
    padding: 20px;
    width: 200px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #2e8b57;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 18px;
    color: #2e8b57;
}

.product-card p {
    font-size: 16px;
    color: #2e8b57;
}

.product-card .btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #2e8b57;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Footer */
.footer {
    background-color: #2e8b57;
    padding: 20px;
    text-align: center;
    color: white;

}